
@use '../util' as *;
/* this rule is needed here as well,
to use the rem()styles*/

// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100
// Toggle Code Source

// & means inherit from parent 
// .toggle is the parent of this container 
// __wrapper 
// __background
// __button are ALL its children
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100



.toggle { 
	display: grid;
	grid-template-columns: 1fr 3rem;
	border: none;
	margin: 0;

	@include breakpoint-down(small) {
		margin-top: rem(30);
		padding: rem(20) 0 0 0;
		text-align: left;
		border-top: rem(1) solid var(--text-color2);
  }	

  label {
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color2);

    &[for='dark'] {
      line-height: rem(24);
      margin-right: rem(13);
    }
  }
	
  &__wrapper {
		height:rem(24);
		position: relative;
  }

  input[type="radio"]	{
		opacity: 0;
		margin: 0 rem(-2) 0 rem(-2);
		position: relative;
		height: rem(24);
		width: rem(24);
		z-index: 1;
		cursor: pointer;
		
		&:focus ~ .toggle__button {
			border: rem(0.015) solid var(--toggle-focus);
			height: rem(17.985);
		}
	}

	&__background {
		display:block;
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0;
		border-radius: rem(12);
		background: var(--toggle-bg);
  }

  &__button {
		position: absolute;
		left: rem(3);
		top: rem(3);
		right: 100%;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--toggle-buttton);
		transition: all 150ms ease-in-out;
  }
	
	#light:checked ~ .toggle__button {
    left: calc(100% - rem(22.985));
    right: rem(3);
  }

	//Whats the difference ?
	// #light:checked ~ .toggle__button {
	// 	left: calc(100% - 21px);
	// 	right: 3px;	
	// }

	#system:checked ~ .toggle__button {
		left: 50%;
		right: auto;
		transform: translate(-50%);
	}
}
   
    